<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="create-category" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label style="text-align: center">Company Name</mat-label>
                        <input matInput name="name" [(ngModel)]="form.name" #name="ngModel" required>
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                        <mat-error *ngIf="name.hasError('required')">The Company Name is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label style="text-align: center">price</mat-label>
                        <input matInput name="price" [(ngModel)]="form.price" #price="ngModel" required>
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                        <mat-error *ngIf="price.hasError('required')">The price is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label style="text-align: center">desciption</mat-label>
                        <input matInput name="desciption" [(ngModel)]="form.desciption" #desciption="ngModel" required>
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                        <mat-error *ngIf="desciption.hasError('required')">The desciption is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <!--                    <app-upload-avatar (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-avatar>-->
                    <button *ngIf="isCheckUser" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create Tour
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
