<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="create-product" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <!--Name Product -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label style="text-align: center">Company Name</mat-label>
                        <input matInput name="companyName" [(ngModel)]="form.companyName" #companyName="ngModel" required>
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                        <mat-error *ngIf="companyName.hasError('required')">The Company Name is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <!--Description -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label style="text-align: center">Description</mat-label>
                        <textarea matInput name="description" [(ngModel)]="form.description" #description="ngModel" required></textarea>
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                        <mat-error *ngIf="description.hasError('required')">The Description is required!</mat-error>
                    </mat-form-field>
                    <br>
<!--                    &lt;!&ndash;Date &ndash;&gt;-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label style="text-align: center">EstablishmentDate</mat-label>-->
<!--                        <textarea matInput name="establishmentDate" [(ngModel)]="form.establishmentDate" #establishmentDate="ngModel" required></textarea>-->
<!--                        <mat-icon color="accent" matSuffix>category</mat-icon>-->
<!--                        <mat-error *ngIf="establishmentDate.hasError('required')">The EstablishmentDate is required!</mat-error>-->
<!--                    </mat-form-field>-->
<!--                    <br>-->
                    <!--Website -->
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label style="text-align: center">website</mat-label>
                        <textarea matInput name="website" [(ngModel)]="form.website" #website="ngModel" required></textarea>
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                        <mat-error *ngIf="website.hasError('required')">The website is required!</mat-error>
                    </mat-form-field>
                    <br>
                    <!--                    &lt;!&ndash;avatarProduct &ndash;&gt;-->
                    <!--                    <mat-form-field style="width: 350px" appearance="outline">-->
                    <!--                        <mat-label style="text-align: center">AvatarProduct</mat-label>-->
                    <!--                        <input matInput name="avatarProduct" [(ngModel)]="form.avatarProduct" #avatarProduct="ngModel" required>-->
                    <!--                        <mat-icon color="accent" matSuffix>category</mat-icon>-->
                    <!--                        <mat-error *ngIf="avatarProduct.hasError('required')">The AvatarProduct is required!</mat-error>-->
                    <!--                    </mat-form-field>-->
                    <!--                    <br>-->
<!--                    <mat-form-field style="width: 350px" appearance="outline">-->
<!--                        <mat-label>Category</mat-label>-->
<!--                        <mat-select [formControl]="animalControl" [(ngModel)]="form.category" required>-->
<!--                            &lt;!&ndash;                            <mat-option></mat-option>&ndash;&gt;-->
<!--                            <mat-option *ngFor="let cate of category" [value]="cate">-->
<!--                                {{cate.name}}-->
<!--                            </mat-option>-->
<!--                        </mat-select>-->
<!--                        <mat-error *ngIf="animalControl.hasError('required')">Please choose a Product</mat-error>-->
<!--                    </mat-form-field>-->
                    <br>
                    <mat-error *ngIf="!checkAvatar" >Please upload avatar</mat-error>
                    <br>
                    <app-upload-avatar style="text-align: center" (giveURLtoCreate)="onChangeAvatar($event)"></app-upload-avatar>
                    <br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create Company
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
