<div class="container" *ngIf="tours">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <mat-card-title style="color: #bd4147" class="alert alert-primary">Tour Detail</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Name Tour:</b>{{tours.name}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Price Tour:</b>{{tours.price}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Description:</b>{{tours.desciption}}</mat-card-title>
                <!--                <img class="image" [src]="category.avatarCategory">-->
            </mat-card>
        </div>
    </div>
</div>



