<div class="container" *ngIf="tours">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0; text-align: center">
                <mat-card-title style="color: #bd4147" class="alert alert-primary">Old Tour </mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Name Tour:</b>{{tours.name}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Price:</b>{{tours.price}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Description:</b>{{tours.desciption}}</mat-card-title>
                <!--                <img class="image" [src]="category.avatarCategory">-->
            </mat-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form class="edit-category" #f="ngForm" (ngSubmit)="ngSubmit()&&f.form.valid" novalidate>

                    <mat-error class="alert alert-primary">{{status}}</mat-error><mat-card-title style="color: #2b542c" class="alert alert-warning">New Tour
                </mat-card-title>
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label>New Tour Name:</mat-label>
                        <input name="name" matInput placeholder="Fill name category in the form ..."
                               [(ngModel)]="tours.name" #name="ngModel" required>
                        <mat-icon color="accent" matSuffix>edit</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label>price:</mat-label>
                        <input name="price" matInput placeholder="Fill name category in the form ..."
                               [(ngModel)]="tours.price" #price="ngModel" required>
                        <mat-icon color="accent" matSuffix>edit</mat-icon>
                    </mat-form-field>
                    <br>
                    <mat-form-field style="width: 300px;" appearance="outline">
                        <mat-label>description:</mat-label>
                        <input name="desciption" matInput placeholder="Fill name category in the form ..."
                               [(ngModel)]="tours.desciption" #desciption="ngModel" required>
                        <mat-icon color="accent" matSuffix>edit</mat-icon>
                    </mat-form-field>
                    <br>

                    <!--                    <mat-error *ngIf="f.submitted&&nameCategory.invalid">-->
                    <!--                        <mat-error *ngIf="nameCategory.errors.required">{{errorMessage}}</mat-error>-->
                    <!--                    </mat-error>-->
                    <!--                    <mat-error>{{errorMessage}}</mat-error><br>-->

                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Update
                        <mat-icon color="accent" matSuffix>edit</mat-icon>
                    </button>
                </form>
                <!--                <app-upload-avatar (giveURLtoCreate)="onAvatar($event)"></app-upload-avatar>-->
                <!--                <mat-error *ngIf="!addAvatar">If you want change avatar, please upload!</mat-error>-->

            </mat-card>
        </div>
    </div>
</div>

