<div class="container" *ngIf="companys">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <mat-error class="alert alert-primary">{{status}}</mat-error>
                <br>
                <br>
                <!--                <mat-card-title style="color: #bd4147" class="alert alert-primary">Product name</mat-card-title>-->
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Name Product:</b>{{companys.companyName}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Description:</b>{{companys.description}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Date:</b>{{companys.establishmentDate}}</mat-card-title>
                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">website:</b>{{companys.website}}</mat-card-title>
                <img class="img" [src]="companys.image">
                <!--                <mat-card-title style="color: #ff03cc"><b style="color: #2b542c">Description:</b>{{products.category}}</mat-card-title>-->
            </mat-card>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form class="delete-category" #f="ngForm" (ngSubmit)="ngSubmit()&&f.form.valid" novalidate>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Delete
                        <mat-icon color="accent" matSuffix>delete</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>

